@model InteractiveTextbook.Models.ViewModels.UserViewModel.UserViewModel

@{
    ViewData["Title"] = "Książki";
}

@if (Model.Users.Any())
{
    <div class="text-center m-3 text-center">
        <h1 class="display-3">Lista użytkowników</h1>
        <a class="btn btn-primary p-3" asp-controller="User" asp-action="AddUser"><i class="fa-solid fa-plus me-3"></i>Dodaj nowego użytkownika</a>
    </div>
    <table class="table table-hover">
        <thead class="text-center">
            <tr>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Email</th>
                <th scope="col">Typ użytkownika</th>
                <th scope="col">Klasa</th>
                <th scope="col">Nauczyciel przedmiotu</th>

                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody class="text-center ">
            @foreach (var item in Model.Users)
            {
                <tr>
                    <th>@item.FirstName</th>
                    <th>@item.LastName</th>
                    <th>@item.Email</th>
                    <th>@item.Type</th>
                    @if (item.Student != null && item.Student.Class != null)
                    {
                        <th>@item.Student.Class</th>
                    }
                    else
                    {
                        <th>-</th>
                    }
                    @if (item.Teacher != null && item.Teacher.SchoolSubject != null)
                    {
                        <th>@item.Teacher.SchoolSubject</th>
                    }
                    else
                    {
                        <th>-</th>
                    }
                    <th>
                        <div class="d-flex gap-1 justify-content-center">
                            <form class=" float-left" method="post" asp-action="DeleteUser" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>Usuń</button>
                            </form>
                            <a class="btn btn-warning float-right" asp-controller="User" asp-action="EditUser"
                               asp-route-id="@item.Id"
                               asp-route-title="@item.FirstName"
                               asp-route-description="@item.LastName"
                               asp-route-category="@item.Email"
                               asp-route-pages="@item.Password"
                               asp-route-author="@item.Type"
                               >
                                <i class="fa-solid fa-pen me-2"></i>Edytuj
                            </a>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
        <p class="display-4">Dodaj użytkownika</p>
        <a class="btn btn-primary" asp-controller="User" asp-action="AddUser"><i class="fa-solid fa-plus me-1"></i>Dodaj</a>
    </div>
}